{% extends 'T42UserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12"> 
        <h2>Usuarios</h2>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-tabs nav-stacked">
                    {% if is_granted('ROLE_USUARIOS_ADD') %}
                        <li><a href="{{ path('t42_user_invitation_new') }}"><i class="icon-user"></i> Enviar invitaci&oacute;n a usuario</a></li>
                    {% endif %}    
                    <li><a href="{{ path('t42_backend_index') }}"><i class="icon-arrow-left"></i> Volver</a></li>
                </ul>
            </div>
            <div class="span7 offset1">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <td>Nombre de Usuario</td>
                            <td>Apellido y Nombre</td>
                            <td>Email</td>
                            <td>Ultimo Login</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>
                                    {% if is_granted('ROLE_USUARIOS_VIEW') %}
                                        <a href="{{ path('fos_user_profile_show', { 'id': entity.id }) }}">{{ entity.username }}</a>
                                    {% else%}
                                        {{ entity.username }}
                                    {% endif %}
                                </td>
                                {% spaceless %}
                                    <td>
                                        {% if entity.lastname is not empty and entity.firstname is not empty %}
                                            {{ entity.lastname ~ ', ' ~ entity.firstname}}
                                        {% elseif  entity.lastname is empty and entity.firstname is not empty %}
                                            {{ entity.firstname }}
                                        {% elseif  entity.lastname is not empty and entity.firstname is empty %}
                                            {{ entity.lastname }}
                                        {% elseif  entity.lastname is empty and entity.firstname is empty %}
                                            <i> {{ n/d }} </i> 
                                        {% endif %}
                                        
                                    </td>
                                {% endspaceless %}
                                <td>{{ entity.email }}</td>
                                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('d-m-Y H:i:s') }}{% endif %}</td>
                                <td>
                                    {% if is_granted('ROLE_USUARIOS_EDIT') %}
                                        <a href="{{ path('fos_user_profile_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                                    {% endif %}
                                    {% if is_granted('ROLE_USUARIOS_DELETE') %}
                                        <a href="{{ path('fos_user_profile_delete', { 'id': entity.id }) }}"><i class="icon-remove"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}