{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block content %}

<h1>Listado de Paquetes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Salidas</th>
            <th>Es Grupal</th>
            <th>Es Promocion</th>
            <th>Tarifas</th>
            <th>Resumen</th>
            <th>Categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.titulo }}</td>
            <td>
                {% for fechaDeSalida in entity.fechasDeSalida %}
                    {{ fechaDeSalida.fecha|date("d/m/Y") }}
                {% endfor %}
            </td>
            <td>{% if entity.esGrupal %} Si {% else %} No {% endif %}</td>
            <td>{% if entity.esPromocion %} Si {% else %} No {% endif %}</td>
            <td>{{ entity.tarifas }}</td>
            <td>{{ entity.resumen }}</td>
            <td>{{ entity.categoria }}</td>
            <td>
                <ul>
                    {% if is_granted('ROLE_PAQUETES_VIEW') %}
                        <li>
                            <a href="{{ path('t42_destinos_paquete_show', { 'id': entity.id }) }}">Mostrar</a>
                        </li>
                    {% endif%}    
                    {% if is_granted('ROLE_PAQUETES_EDIT') %}
                        <li>
                            <a href="{{ path('t42_destinos_paquete_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_PAQUETES_DELETE') %}
                        <li>
                            <a href="{{ path('t42_destinos_paquete_delete', { 'id': entity.id }) }}">Eliminar</a>
                        </li>
                    {% endif%}
                    <li>
                        <a href="{{ path('t42_destinos_paquete_print', { 'id': entity.id }) }}">Imprimir</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {% if is_granted('ROLE_PAQUETES_ADD') %}
        <ul>
            <li>
                <a href="{{ path('t42_destinos_paquete_new') }}"> Crear nuevo paquete</a>
            </li>
        </ul>
    {% endif%}
{% endblock %}