{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block content %}

<h1>Paquete</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Titulo</th>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <th>Fecha Salida</th>
            <td>{{ entity.fechaSalida|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Es Grupal</th>
            <td>{% if entity.esGrupal %} Si {% else %} No {% endif %}</td>
        </tr>
        <tr>
            <th>Es Promocion</th>
            <td>{% if entity.esPromocion %} Si {% else %} No {% endif %}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
        <tr>
            <th>Tarifas</th>
            <td>{{ entity.tarifas }}</td>
        </tr>
        <tr>
            <th>Servicios Incluido</th>
            <td>{{ entity.serviciosIncluidos }}</td>
        </tr>
        <tr>
            <th>Servicios No Incluido</th>
            <td>{{ entity.serviciosNoIncluidos }}</td>
        </tr>
        <tr>
            <th>Itinerario</th>
            <td>{{ entity.itinerario }}</td>
        </tr>
        <tr>
            <th>Resumen</th>
            <td>{{ entity.resumen }}</td>
        </tr>
        <tr>
            <th>Categoria</th>
            <td>{{ entity.categoria }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('destinos') }}">
            Volver a paquetes
        </a>
    </li>
    <li>
        <a href="{{ path('destinos_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('destinos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock %}
