{% extends 'T42TestimoniosBundle::layout.html.twig' %}

{% block title %}Editar | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <form action="{{ path('t42_testimonios_backend_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal" >
                <legend>Editar Testimonio</legend>
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Guardar</button> 
                    <a href="{{ path('t42_testimonios_backend_index') }}" class="btn btn-small">Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('t42_testimonios_backend_delete', { 'id': entity.id }) }}" class="btn btn-small btn-danger"><i class="icon-remove icon-white"></i> Eliminar </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}