{% extends 'T42TestimoniosBundle::layout.html.twig' %}

{% block title %}Editar | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li><a href="{{ path('t42_testimonios_backend_index') }}">Testimonios</a></li>
    <li class="divider">/</li>
    <li class="active">Editar</li>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <form action="{{ path('t42_testimonios_backend_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal" >
                <legend>Editar Testimonio</legend>
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <a href="{{ path('t42_testimonios_backend_index') }}" class="btn btn-small">Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </form>
            <form style="margin-top: -67px; margin-right: 50px;" class="pull-right" action="{{ path('t42_testimonios_backend_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                {% if is_granted('ROLE_TESTIMONIOS_DELETE') %}
                    <button class="btn btn-small btn-danger" onclick="javascript: return confirm('Está seguro que desea eliminarlo?');" type="submit"><i class="icon-remove icon-white"></i> Eliminar</button>
                {% endif %}
            </form>

        </div>
    </div>
{% endblock %}