{% extends 'T42TestimoniosBundle::layout.html.twig' %}

{% block content %}

<h1>Listado de Testimonios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Organizacion</th>
            <th>Comentario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('t42_testimonios_backend_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.organizacion }}</td>
            <td>{{ entity.comentario }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('t42_testimonios_backend_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('t42_testimonios_backend_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('t42_testimonios_backend_new') }}">
            Crear nuevo Testimonio
        </a>
    </li>
</ul>

{% endblock %}