{% extends 'T42TestimoniosBundle::layout.html.twig' %}

{% block title %}Nuevo | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <form action="{{ path('t42_testimonios_backend_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" >
                <legend>Nuevo Testimonio</legend>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Crear</button>
                    <a href="{{ path('t42_testimonios_backend_index') }}" class="btn">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}