<h1>Testimonio</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Organizacion</th>
            <td>{{ entity.organizacion }}</td>
        </tr>
        <tr>
            <th>Comentario</th>
            <td>{{ entity.comentario }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('testimonio') }}">
            Volver a Testimonios
        </a>
    </li>
    <li>
        <a href="{{ path('testimonio_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('testimonio_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
