{% extends 'T42TestimoniosBundle::layout.html.twig' %}

{% block content %}

<h1>Testimonio</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Organizacion</th>
            <td>{{ entity.organizacion }}</td>
        </tr>
        <tr>
            <th>Comentario</th>
            <td>{{ entity.comentario }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('t42_testimonios_backend_index') }}">
            Volver a Testimonios
        </a>
    </li>
    <li>
        <a href="{{ path('t42_testimonios_backend_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('t42_testimonios_backend_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock %}