{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Cambiar contrase&ntilde;a | {{ parent() }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block fos_user_content %}
<div class="row-fluid">
    <div class="span6 offset3">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
            {{ form_widget(form) }}
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
</div>
{% endblock fos_user_content %}