{% extends 'T42ImagenesBundle::layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li class="active">Imagenes</li>
{% endblock %}

{% block content %}    
    <div class="row">
        <div class="span12">
            <h2>Imagenes</h2>
            <div class="row">
                <div class="span2">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="{{ path('t42_imagenes_backend_new') }}"><i class="icon-plus"></i> Agregar nueva</a></li>
                        <li><a href="{{ path('t42_backend_dashboard_index') }}"><i class="icon-arrow-left"></i> Volver</a></li>
                    </ul>
                </div>
            <div class="span7 offset2">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <td>T&iacute;tulo</td>
                            <td>Descripci&oacute;n</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in pagination %}
                        <tr>
                            <td><a href="{{ path('t42_imagenes_backend_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></td>
                            <td>{{ entity.descripcion }}</td>
                            <td>
                                <a href="{{ path('t42_imagenes_backend_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row-fluid">
                    <div class="span12">{{ pagination.render()|raw }}</div>
                </div>                                        
            </div>                                
            </div>
        </div>
    </div>
{% endblock %}