{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block title %}Editar | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li><a href="{{ path('t42_destinos_backend_index') }}">Destinos</a></li>
    <li class="divider">/</li>
    <li class="active">{{ entity.titulo }}</li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset2">
        <form class="form-horizontal" action="{{ path('t42_destinos_backend_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <legend>Editar Paquete de viaje</legend>            
            {% include 'T42DestinosBundle:Backend:paqueteForm.html.twig' with { 'form': edit_form } %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Guardar</button>                
                <a href="{{ path('t42_destinos_backend_index') }}" class="btn btn-small">Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </form>            
        <form style="margin-top: -66px; margin-right: 50px;" class="pull-right" action="{{ path('t42_destinos_backend_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            {% if is_granted('ROLE_PAQUETES_DELETE') %}
                <button class="btn btn-small btn-danger" type="submit"><i class="icon-remove icon-white"></i>Eliminar</button>                
            {% endif %}
        </form>            
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/t42backend/js/lib/select2/select2.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/t42backend/js/lib/select2/select2.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                var collectionLabel = $('label.collection-label');
                var collectionsHolder = $('ul.collection');
                var $addLink = $('<a href="#" class="add-to-col"><i class="icon-plus"></i></a>');
                var $removeLink = $('<a href="#" class="remove-from-col"><i class="icon-minus"></i></a>');

                function addFieldToCollection(collectionHolder) {
                    var prototype = collectionHolder.attr('data-prototype');
                    var newField = prototype.replace(/__name__/g, collectionHolder.children().length);
                    var $newFieldLi = $('<li></li>').append(newField).append($removeLink.clone());

                    collectionHolder.append($newFieldLi);
                }

                function removeFieldFromCollection($field) {
                    $field.remove();
                }

                $(".select2").select2();

                collectionLabel.append($addLink);

                collectionsHolder.find('li').each(function() {
                    $(this).append($removeLink.clone());
                });

                $('form').on('click', 'a.add-to-col', function (event) {
                    var collectionHolder = $(this).parent().next('.controls').find('ul.collection');

                    addFieldToCollection(collectionHolder);

                    return false;
                });

                $('form').on('click', 'a.remove-from-col', function (event) {
                    var $field = $(this).parent('li');

                    removeFieldFromCollection($field);

                    return false;
                });
            });
        })(jQuery);
    </script>
{% endblock %}