{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li class="active">Paquetes</li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>Paquetes</h2>
        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="nav nav-tabs nav-stacked">
                            {% if is_granted('ROLE_PAQUETES_ADD') %}
                                <li><a href="{{ path('t42_destinos_backend_new') }}"><i class="icon-plus"></i> Agregar nuevo</a></li>
                            {% endif %}
                            <li><a href="{{ path('t42_backend_dashboard_index') }}"><i class="icon-arrow-left"></i> Volver</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span10 offset1">
                        <form class="well" action="{{ path('t42_destinos_backend_index') }}" method="post" {{ form_enctype(form) }} >
                            {% for row in form %}
                                {% if row.name == 'tipoViaje' %}
                                {% spaceless %}
                                    <div class="control-group{% if row.vars.errors|length > 0 %} error{% endif %}">
                                        {{ form_label(row, null, { 'label_attr': {'class': 'control-label'} }) }}
                                        <div class="controls">
                                        {% for child in row.children %}
                                            {{ form_label(child, null, { 'label_attr': {'class': 'inline'} }) }}
                                            {{ form_errors(child) }}
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endspaceless %}
                                {% elseif row.name == 'fecha' %}
                                {% spaceless %}
                                    <div class="control-group{% if row.vars.errors|length > 0 %} error{% endif %}">
                                        {{ form_label(row, null, { 'label_attr': {'class': 'control-label'} }) }}
                                        <div class="controls">
                                            {{ form_widget(row) }}
                                            {{ form_errors(row) }}
                                        </div>
                                    </div>
                                {% endspaceless %}
                                {% else %}
                                    {{ form_row(row) }}
                                {% endif %}
                            {% endfor %}
                            <button class="btn btn-primary btn-block" type="submit">Filtrar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="span9">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <td>Titulo</td>
                            <td>Proxima Salida</td>
                            <td>Grupal</td>
                            <td>Promocion</td>
                            <td>Segmento</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for paquete in pagination %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_PAQUETES_VIEW') %}
                                    <a href="{{ path('t42_destinos_backend_show', { 'id': paquete.id }) }}">{{ paquete.titulo }}</a>
                                {% endif%}                                    
                            </td>
                            <td>
                                {% spaceless %}
                                {% if paquete.getProximaSalida %}
                                    {{ paquete.getProximaSalida|date('d/m/Y') }}
                                {% else %}
                                    N/D
                                {% endif %}
                                {% endspaceless %}
                            </td>
                            <td>{% if paquete.esGrupal %} Si {% else %} No {% endif %}</td>
                            <td>{% if paquete.esPromocion %} Si {% else %} No {% endif %}</td>
                            <td>{{ paquete.segmento }}</td>
                            <td>
                                {% if is_granted('ROLE_PAQUETES_EDIT') %}
                                    <a href="{{ path('t42_destinos_backend_edit', { 'id': paquete.id }) }}"><i class="icon-pencil"></i></a>
                                {% endif %}
                                    <a href="{{ path('t42_destinos_backend_print', { 'id': paquete.id }) }}"><i class="icon-print"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row-fluid">
                    <div class="span12">{{ pagination.render()|raw }}</div>
                </div>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}