{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block title %}Nuevo | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li><a href="{{ path('t42_destinos_backend_index') }}">Destinos</a></li>
    <li class="divider">/</li>
    <li class="active">Nuevo</li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset2">
        <form class="form-horizontal" action="{{ path('t42_destinos_backend_create') }}" method="post" {{ form_enctype(form) }} >
            <legend>Nuevo Paquete de viaje</legend>
            {% include 'T42DestinosBundle:Backend:paqueteForm.html.twig' with { 'form': form } %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Crear</button>
                <a class="btn" href="{{ path('t42_destinos_backend_index') }}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/t42backend/js/lib/select2/select2.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/t42backend/js/lib/select2/select2.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $(".select2").select2();
            });
        })(jQuery);
    </script>
{% endblock %}