{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block title %}Nuevo | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="cssrewrite"
        "bundles/t42backend/js/lib/select2/select2.css"
        "bundles/t42backend/js/lib/bootstrap-datepicker/datepicker.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li><a href="{{ path('t42_destinos_backend_index') }}">Destinos</a></li>
    <li class="divider">/</li>
    <li class="active">Nuevo</li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset2">
        <form class="form-horizontal" action="{{ path('t42_destinos_backend_create') }}" method="post" {{ form_enctype(form) }} >
            <legend>Nuevo Paquete de viaje</legend>
            {% include 'T42DestinosBundle:Backend:paqueteForm.html.twig' with { 'form': form } %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Crear</button>
                <a class="btn" href="{{ path('t42_destinos_backend_index') }}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "bundles/t42backend/js/lib/select2/select2.min.js"
        "bundles/t42backend/js/lib/bootstrap-datepicker/bootstrap-datepicker.js"
        "bundles/t42backend/js/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                var collectionLabel = $('label.collection-label');
                var collectionsHolder = $('ul.collection');
                var $addLink = $('<a href="#" class="add-to-col"><i class="icon-plus"></i></a>');
                var $removeLink = $('<a href="#" class="remove-from-col"><i class="icon-minus"></i></a>');

                $('.date').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'es'
                });

                function addFieldToCollection(collectionHolder) {
                    var prototype = collectionHolder.attr('data-prototype');
                    var newField = prototype.replace(/__name__/g, collectionHolder.children().length);

                    var $newFieldLi = $('<li></li>').append(newField).append($removeLink.clone());

                    collectionHolder.append($newFieldLi);
                    $('.date').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'es'
                    });
                }

                function removeFieldFromCollection($field) {
                    $field.remove();
                }

                $(".select2").select2();

                collectionLabel.append($addLink);

                collectionsHolder.find('li').each(function() {
                    $(this).append($removeLink.clone());
                });

                $('form').on('click', 'a.add-to-col', function (event) {
                    var collectionHolder = $(this).parent().next('.controls').find('ul.collection');

                    addFieldToCollection(collectionHolder);

                    return false;
                });

                $('form').on('click', 'a.remove-from-col', function (event) {
                    var $field = $(this).parent('li');

                    removeFieldFromCollection($field);

                    return false;
                });
            });
        })(jQuery);
    </script>
{% endblock %}