{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block title %}{{entity.titulo}} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li><a href="{{ path('t42_destinos_backend_index') }}">Destinos</a></li>
    <li class="divider">/</li>
    <li class="active">{{ entity.titulo }}</li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
    {% if entity.segmento %}
        <h2>{{ entity.segmento.descripcion }}</h2>
    {% endif %}
        <h1>{{ entity.titulo }}</h1>
    {% if entity.lugares is not empty %}
        <ul class="inline">
        {% for lugar in entity.lugares %}
            <li>{{ lugar.nombre }}</li>
            {% if not loop.last and loop.length > 1 %}
                <li>&mdash;</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
        <div class="row-fluid">
            <div class="span9">
            {% if entity.resumen %}
                <div>
                    <h3>Resumen</h3>
                    <p class="lead">{{ entity.resumen }}</p>
                </div>
            {% endif %}
            {% if entity.itinerario %}
                <div>
                    <h3>Itinerario</h3>
                    {{ entity.itinerario|raw() }}
                </div>
            {% endif %}
            {% if entity.tarifas is not empty %}
                <div>
                    <h3>Tarifas</h3>
                    <ul>
                        {% for tarifa in entity.tarifas %}
                            <li>{{ tarifa.descripcion}}: {{ tarifa.precio }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
            <div class="span3">
            {% if entity.esGrupal or entity.esPromocion %}
                <div>
                    <h3>+ Información</h3>
                    <ul>
                    {% if entity.esGrupal %}
                        <li><strong>Grupal</strong></li>
                    {% endif %}
                    {% if entity.esPromocion %}
                        <li><strong>Promoción</strong></li>
                    {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if entity.fechasDeSalida is not empty%}
                <div>
                    <h3>Fechas de Salida</h3>
                    {% if entity.fechasDeSalida|length > 1 %}
                        <ul>
                        {% for fecha in entity.fechasDeSalida %}
                            <li>{{ fecha.fecha|date("d/m/Y") }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>{{ entity.fechasDeSalida[0].fecha|date("d/m/Y") }}</p>
                    {% endif %}
                </div>
            {% endif %}
            {% if entity.serviciosIncluidos or entity.serviciosNoIncluidos %}
                <div>
                    <h3>Servicios</h3>
                    <h4>Inclu&iacute;dos</h4>
                    <ul>
                        {% for servicio in entity.serviciosIncluidos %}
                            <li>{{servicio}}</li>
                        {% endfor %}
                    </ul>
                    <h4>No inclu&iacute;dos</h4>
                    <ul>
                        {% for servicio in entity.serviciosNoIncluidos %}
                            <li>{{servicio}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if entity.observaciones %}
                <div>
                    <h3>Observaciones</h3>
                    <p>{{ entity.observaciones }}</p>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <form class="form-horizontal" action="{{ path('t42_destinos_backend_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        {% if is_granted('ROLE_PAQUETES_EDIT') %}
            <a class="btn btn-primary" href="{{ path('t42_destinos_backend_edit', { 'id': entity.id }) }}">Editar</a>
        {% endif %}
        <a class="btn btn-small" href="{{ path('t42_destinos_backend_index') }}">Volver</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if is_granted('ROLE_PAQUETES_DELETE') %}
        <button class="btn btn-danger btn-small" onclick="javascript: return confirm('Está seguro que desea eliminarlo?');" type="submit"><i class="icon-remove icon-white"></i> Eliminar</button>
        {% endif %}
    </form>
</div>
{% endblock %}
