{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block title %}{{entity.titulo}} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('t42_backend_dashboard_index') }}">Panel</a></li>
    <li class="divider">/</li>
    <li><a href="{{ path('t42_destinos_backend_index') }}">Destinos</a></li>
    <li class="divider">/</li>
    <li class="active">{{ entity.titulo }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span11 offset1">
        <h2>{{ entity.titulo }}</h2>                
    </div>
</div>
<div class="row">
    <div class="span7 offset1">
        <h3>Fechas de Salida</h3>
        {% for fecha in entity.fechasDeSalida %}
            <p class="lead"> {{ fecha.fecha|date("d/m/Y") }} </p>
        {% endfor %}
    </div>        
    <div class="span1">
        <h3>Grupal</h3>
        {% if entity.esGrupal %}
            <p class="lead"> Si </p>
        {% else %}
            <p class="lead"> No </p>
        {% endif %}
    </div>        
    <div class="span1">
        <h3>Promoci&oacute;n</h3>
        {% if entity.esPromocion %}
            <p class="lead"> Si </p>
        {% else %}
            <p class="lead"> No </p>
        {% endif %}
    </div>        
</div>
<div class="row">
    <div class="span5 offset1">
        <h3>Observaciones</h3>
        <p> {{ entity.observaciones}}</p>
    </div>
    <div class="span5">
        <h3>Tarifas</h3>
        {% for tarifa in entity.tarifas%}
            {{tarifa.descripcion~'-'~tarifa.precio}}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="span5 offset1">
        <h3>Servicios Incluidos</h3>
        <p>{{entity.serviciosIncluidos}}</p>
    </div>
    <div class="span5">
        <h3>Servicios No Incluidos</h3>
        <p>{{entity.serviciosNoIncluidos}}</p>
    </div>
</div>
<div class="row">
    <div class="span5 offset1">
        <h3>Categoria</h3>
        <p>{{entity.segmento.descripcion}}</p>
    </div>
    <div class="span5">
        <h3>Ciudades</h3>
        <p>
            {% for ciudad in entity.ciudades %}
                {{ciudad}}
            {% endfor %}
        </p>
    </div>
</div>
<div class="row">
    <div class="span11 offset1">
        <h3>Resumen</h3>
        <p>{{entity.resumen}}</p>
    </div>
</div>
<div class="row">
    <div class="span11 offset1" style="text-align: justify">
        <h3>Itinerario</h3>
        <p>
            {{ entity.itinerario|raw() }}
        </p>
    </div>
</div>
<div class="form-actions">
    <form class="form-horizontal" action="{{ path('t42_destinos_backend_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        {% if is_granted('ROLE_PAQUETES_EDIT') %}
            <a class="btn btn-primary" href="{{ path('t42_destinos_backend_edit', { 'id': entity.id }) }}">Editar</a>
        {% endif %}
        <a class="btn btn-small" href="{{ path('t42_destinos_backend_index') }}">Volver</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if is_granted('ROLE_PAQUETES_DELETE') %}
            <button class="btn btn-danger btn-small" type="submit"><i class="icon-remove icon-white"></i> Eliminar</button>
        {% endif %}            
    </form>
</div>
{% endblock %}
