<h1>Listado de Grupos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            <td> <a href="{{ path('fos_user_group_show', {'groupname': group.getName()} ) }}">{{ group.getName() }}</a> </td>
            <td>
                <ul>
                    {% if is_granted('ROLE_USUARIOS_EDIT') %}                                            
                        <li>
                            <a href="{{ path('fos_user_group_edit', { 'groupname': group.getName() }) }}">Editar</a>
                        </li>
                    {% endif %}    
                    {% if is_granted('ROLE_USUARIOS_DELETE') %}                                            
                        <li>
                            <a href="{{ path('fos_user_group_delete', { 'groupname': group.getName() }) }}">Eliminar</a>
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>            
    {% endfor %}        
    </tbody>    
</table>

    {% if is_granted('ROLE_USUARIOS_ADD') %}
        <ul>
            <li>
                <a href="{{ path('fos_user_group_new') }}">Crear nuevo grupo</a>
            </li>
        </ul>
    {% endif %}
